/* ------------------------ PCS ------------------------ */
@media screen and (min-width: 791px) {
  body {
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    color: #333333;
    font-family: arial, times;
    font-size: 12px; }

  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

  a {
    color: #ffffff;
    text-decoration: none;
    padding: 2px 4px;
    display: inline-block;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  a:hover, a:focus {
    color: #ffffff;
    text-decoration: none; }

  table {
    border-collapse: collapse;
    border-spacing: 0; }

  header {
    position: relative;
    width: 100vw;
    height: 5vh;
    padding: 0.5vw 1vw;
    background-color: #dddddd;
    font-size: 1vw; }
  header h3.title {
    border-bottom: 3px solid #f3f3e9;
    color: #666666;
    font-size: 1.5vw;
    font-weight: normal;
    margin: 0 0 0.5vw;
    padding: 0 0 0.5vw;
    width: 100%; }

  footer {
    position: relative;
    width: 100vw;
    height: 2vh;
    background-color: #dddddd;
    font-size: 0.7vw;
    padding: 0.1vw 0.8vw; }

  div#main {
    width: 100vw;
    min-height: 100vh; }
  div#main aside {
    width: 25vw;
    min-height: 93vh;
    padding: 1vw;
    float: left;
    background-color: #ffffff; }
  div#main section#middle {
    min-height: 100vh;
    width: 75vw;
    padding: 2vw;
    margin: 0;
    float: left;
    font-size: 1vw;
    background-color: #f2f2f2; }

  .widget header {
    width: 100%;
    height: auto;
    padding: 0;
    background-color: transparent; }
  .widget header ul {
    width: 100%;
    padding: 0;
    margin: 0;
    display: table; }
  .widget header ul li {
    list-style: none;
    margin: 0;
    padding: 1vw 1.3vw;
    display: block; }
  .widget header ul li.progressbar {
    width: 75%;
    font-size: 105%;
    text-align: center;
    color: #333333;
    background-color: #e0e0d1;
    display: table-cell; }
  .widget header ul li.storage {
    background: url("../images/icon-config.svg") center center no-repeat;
    background-color: #c75c5c;
    background-size: contain;
    width: 25%;
    display: table-cell;
    font-size: 100%;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    line-height: 150%;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  .widget header ul li.storage:hover {
    background-color: #8d5050; }
  .widget section.files {
    width: 100%;
    margin: 2vw 0; }
  .widget section.files article {
    width: 100%;
    padding: 0.5vw;
    margin: 0.5vw 0;
    background-color: #f3f3e9;
    display: table;
    cursor: pointer;
    position: relative;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  .widget section.files article:hover {
    background-color: #e0e0d1; }
  .widget section.files article:hover .details .icon-info {
    opacity: 0.5; }
  .widget section.files article figure {
    margin: 0;
    padding: 0;
    width: 22%;
    float: left;
    overflow: hidden;
    position: relative; }
  .widget section.files article figure img {
    position: relative;
    width: 100%;
    height: 100%; }
  .widget section.files article .details {
    width: 75%;
    float: right; }
  .widget section.files article .details .icon-file {
    background: url("../images/icon-file.svg") 0 0 no-repeat;
    background-size: contain;
    height: 2vw;
    display: block;
    margin: 0.3vw 0 0.5vw 0;
    padding: 0.3vw 0 0.5vw 2.5vw;
    font-size: 100%;
    overflow: hidden;
    line-height: 2.5vh; }
  .widget section.files article .details .icon-size {
    background: url("../images/icon-size.svg") 0 0 no-repeat;
    background-size: contain;
    height: 2vw;
    display: block;
    margin: 0.5vw 0 -1vw 0;
    padding: 0.4vw 0 0 2.5vw;
    font-size: 100%;
    overflow: hidden;
    line-height: 2.5vh; }
  .widget section.files article .details .icon-size .date {
    font-style: italic;
    font-size: 0.8vw;
    color: #666666;
    margin: 0 0 0 0.5vw; }
  .widget section.files article .details .icon-info {
    background: url("../images/icon-info.svg") 0 0 no-repeat;
    background-size: contain;
    bottom: 0.5vw;
    right: 0.5vw;
    width: 1.3vw;
    height: 1.3vw;
    position: absolute;
    opacity: 0;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s; } }
/* ------------------------ SPARTPHONES ------------------------ */
@media screen and (max-width: 790px) {
  body {
    background-color: #ffffff;
    margin: 0 auto;
    position: relative;
    color: #333333;
    font-family: arial, times;
    font-size: 12px; }

  * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

  a {
    color: #ffffff;
    text-decoration: none;
    padding: 2px 4px;
    display: inline-block;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  a:hover, a:focus {
    color: #ffffff;
    text-decoration: none; }

  table {
    border-collapse: collapse;
    border-spacing: 0; }

  div#main {
    width: 100vw;
    min-height: 100vh; }
  div#main aside {
    width: 100vw;
    min-height: 93vh;
    padding: 4vw;
    background-color: #ffffff; }
  div#main section#middle {
    display: none; }

  .widget header {
    width: 100%;
    height: auto;
    padding: 0;
    margin: 3vw 0 2.5vw 0;
    background-color: transparent; }
  .widget header h3.title {
    border-bottom: 3px solid #f3f3e9;
    color: #666666;
    font-size: 4.5vw;
    font-weight: normal;
    text-align: left;
    margin: 0 0 2vw 0;
    padding: 0 0 1.5vw;
    width: 100%; }
  .widget header ul {
    width: 100%;
    padding: 0;
    margin: 0;
    display: table; }
  .widget header ul li {
    list-style: none;
    margin: 0;
    padding: 3vw;
    display: block; }
  .widget header ul li.progressbar {
    width: 75%;
    font-size: 85%;
    text-align: center;
    color: #333333;
    display: table-cell;
    background-color: #e0e0d1; }
  .widget header ul li.storage {
    background: url("../images/icon-config.svg") center center no-repeat;
    background-color: #c75c5c;
    background-size: contain;
    width: 25%;
    display: table-cell;
    font-size: 80%;
    text-align: center;
    color: #ffffff;
    cursor: pointer;
    line-height: 150%;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  .widget header ul li.storage:hover {
    background-color: #8d5050; }
  .widget section.files {
    width: 100%;
    margin: 8vw 0; }
  .widget section.files article {
    width: 100%;
    padding: 1.5vw;
    margin: 2vw 0;
    background-color: #f3f3e9;
    display: table;
    cursor: pointer;
    position: relative;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s; }
  .widget section.files article:hover {
    background-color: #e0e0d1; }
  .widget section.files article:hover .details .icon-info {
    opacity: 0.5; }
  .widget section.files article figure {
    margin: 0;
    padding: 0;
    width: 22%;
    float: left;
    overflow: hidden;
    position: relative; }
  .widget section.files article figure img {
    position: relative;
    width: 100%;
    height: 100%; }
  .widget section.files article .details {
    width: 75%;
    float: right; }
  .widget section.files article .details .icon-file {
    background: url("../images/icon-file.svg") 0 0 no-repeat;
    background-size: contain;
    height: 6vw;
    display: block;
    margin: 2.5vw 0;
    padding: 0.3vw 0 0 7.5vw;
    font-size: 4vw; }
  .widget section.files article .details .icon-size {
    background: url("../images/icon-size.svg") 0 0 no-repeat;
    background-size: contain;
    height: 6vw;
    display: block;
    margin: 2.5vw 0;
    padding: 0.3vw 0 0 7.5vw;
    font-size: 4vw; }
  .widget section.files article .details .icon-size .date {
    font-style: italic;
    font-size: 2.5vw;
    color: #666666;
    margin: 0 0 0 3vw; }
  .widget section.files article .details .icon-info {
    background: url("../images/icon-info.svg") 0 0 no-repeat;
    background-size: contain;
    bottom: 2vw;
    right: 2vw;
    width: 4vw;
    height: 4vw;
    position: absolute;
    opacity: 0;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -ms-transition-duration: 0.5s;
    transition-duration: 0.5s; } }
.btn-primary {
  background-image: linear-gradient(to bottom, #618DC1 0px, #4F5D73 100%) !important;
  border-color: #618DC1 !important;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  -ms-transition-duration: 0.5s;
  transition-duration: 0.5s; }
.btn-primary:hover {
  background-image: linear-gradient(to bottom, #4F5D73 0px, #618DC1 100%) !important;
  background-position: 0 !important; }
